<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .tombol{
            background-color: royalblue;
            color:white;
            padding:10px;
            text-decoration: none;
            border-radius:2px;
        }
    </style>
</head>
<body>
    <div>
        <center>
            <p>AKUN ANDA VERIFIED</p>
            <p>{{message}}</p>
            <p>SELAMAT COK</p>
            <p>{{otp}}</p>
            <p>{{otp}}</p>
            <a href="{{otp}}" class="tombol"> 
                <button className="btn btn-primary">{if you want, click here}</button>
                
                
            </a>
        </center>
    </div>
</body>
</html>